.wrapper {
    padding: 24px;    
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 24px;
  font-weight: 600;
}

.description {
  display: flex;
  font-size: 16px;
  gap: 20px;
}

.viewDetails {
    margin: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}